.login {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #333333;
  color: white;
}

input[type="text"],
input[type="password"] {
  height: 35px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
  font-size: 16px;
  outline: none;
  box-shadow: none;
  background-color: #444444;
  color: white;
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 18px;
  background: #820303;
  border: 1px solid #ff0000;
  color: #fff;
  padding: 15px 25px;
  border-radius: 3px;
  outline: none;
  box-shadow: none;
  transition: all 0.3s ease;
}

input[type="submit"]:hover {
  background: #cf0000;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: #444444;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

input[type="submit"]::before {
  content: "Submit";
}
